This API key can be used in this project and with any API that supports it. 
To use this key in your application, pass it with the key=API_KEY parameter.

API Key AIzaSyA5RG0VRvv3l58mTBofnK1qowk08dvdqnY



